# --- lsd ---
alias ls="lsd"
alias lsa="lsd -a"
alias lsl="lsd -l"
alias lsla="lsd -la"
alias lst="lsd --tree"

# --- git ---
alias g="git"
alias ga="git add"
alias gaa="git add --all"
alias gm="git commit"
alias gma="git add --all && git commit -a"
alias gc="git checkout"
alias gp="git push"
alias gpu="git push -u"
alias gb="git branch -a"
alias gr="git remote -v"
alias gs="git status"
alias gf="git fetch --all"

# --- kubectl ---
alias kb="kubectl"
alias kbci="kubectl cluster-info"
alias kba="kubectl get all"

# --- docker ---
alias d="docker"
alias drm="docker system prune -a -f"

# --- psql ---
alias pg-tw="psql -h 35.232.50.17 -U samcraig -d twitter"

# --- misc. ---
alias kd="kind delete cluster && kind create cluster"
alias code="code-insiders"
alias clip="clip.exe"
alias gpg="gpg2"
alias c="clear"
