#!/bin/bash

declare -A builds

builds[vs]="vayner-speakers"
builds[c]="cauldron"
builds[e]="echox"

function bd() {
  # navigate to directory in ~/builds directory
  cd "$HOME/builds/${builds[$1]}"
}

function fix_docker() {
  sudo mkdir /sys/fs/cgroup/systemd	
  sudo mount -t cgroup -o none,name=systemd cgroup /sys/fs/cgroup/systemd
}

function fix_tiller() {
  kubectl create serviceaccount --namespace kube-system tiller
  kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
  kubectl patch deploy --namespace kube-system tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}'      
  helm init --service-account tiller --upgrade
}

function fix_kind() {
  kind delete cluster && kind create cluster
}
