#!/bin/bash

declare -A builds

builds[vs]="vayner-speakers"
builds[c]="cauldron"
builds[e]="echox"
builds[cg]="cosmic-games-website"
builds[csbp]="cosmic-sky-ban-panel"
builds[se]="search-engine"

function bd() {
  # navigate to directory in ~/builds directory
  cd "$HOME/builds/${builds[$1]}"
}

# --- fix ---

function start-docker() {
  sudo service docker start
}

function fix-docker() {
  sudo mkdir /sys/fs/cgroup/systemd	
  sudo mount -t cgroup -o none,name=systemd cgroup /sys/fs/cgroup/systemd
}

function fix-tiller() {
  kubectl create serviceaccount --namespace kube-system tiller
  kubectl create clusterrolebinding tiller --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
  kubectl patch deploy --namespace kube-system tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}'      
  helm init --service-account tiller --upgrade
  helm repo update
}

function fix-kind() {
  kind delete cluster
  kind create cluster
}

function fix-file_watcher() {
  echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
}

function fix () {
  start-docker
  fix-kind
  fix-docker
  fix-tiller
  fix-file_watcher
}

# --- kubectl ---
function kbrm() {
  kubectl delete "$(kubectl api-resources --namespaced=true --verbs=delete -o name | tr "\n" "," | sed -e 's/,$//')" --all "$@"
}

